.App {
  text-align: center;
  font-family: cursive;
  /*background-color: black; passes from index.css*/
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex; 
  flex-direction: row; 
  padding: 10px; 
  justify-content: center; 
  align-items: center; 
}

h1 {
  align-self: start;
}

.board {
  display: grid; 
  margin: auto; 
  margin-top: 1rem; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  place-items: center; 
  gap: 2rem; 
}

.comments {
    padding: 0.25rem 1rem; 
    margin: auto; 
    margin-top: 40px;
    margin-bottom: 20px;  
    text-align: center; 
    border-radius: 2rem;
    color: orangered;
    font-weight: bolder; 
    font-size: 1.2rem;
}

.button {
  align-items: center; 
  justify-content: center; 
  padding: 0.5rem 0.8rem; 
  font-family: cursive; 
  width: 200px; 
  font-size: 1.2rem; 
  font-weight: bolder; 
  border-radius: 0.7rem; 
  border-style: none; 
  background-color: orangered; 
  color: white; 
  margin-top: 4px; 
  margin: auto;
}

.button:hover {
  border: 2px solid black;
}

.item {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  
}

.card {
  height: 250px;
  width: 350px;  
  will-change: transform, opacity;
  
}

.front {
  position: absolute;
}

img {
  height: 250px;
  width: 350px;
}

.back {
  height: 250px; 
  background-image: url(./app/assets/cardBack.png); 
  background-size: cover;
  border: 1px solid black;
}