.App {
  text-align: center;
  font-size: 5.25rem;
  /*background: url('/src/app/assets/memory-card-game-background.png') no-repeat center fixed;*/
  background-size: cover;
  background-color: black;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
}

.gamecardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 200px;
}

.card {
  position: absolute;
  width: 350px;
  height: 200px;
  will-change: transform, opacity;
}

.back {
  background-size: cover;
  background-image: url(/src/app/assets/cardBack.png);
}

img {
  width: 350px;
  height: 200px;
}


